@model Projetinho.Models.GeneralBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GeneralBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authorname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authorname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bookname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bookquantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookquantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Catalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Catalog.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libraian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libraian.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
